*{
    margin: 0;
    padding: 0;
}
body{
    background: rgba(0, 0, 0, 0.7) url(image/burger-king-cheeseburger-1666891208.jpg) center center fixed;
background-size: cover;
background-blend-mode:darken ;
font-family: 'Courier New', Courier, monospace;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container h1{
    color: rgb(16, 11, 9);
    margin-left: 10px;
    cursor: pointer;
}
.navbar li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    
}